{% extends "base.html" %}

{% block content %}
    <form action="/result" method="post" enctype="multipart/form-data">
        <select name="method" id="method">
            <option value="average">Average method</option>
            <option value="luminosity">Luminosity method</option>
            <option value="desaturation">Desaturation method</option>
            <option value="max_decomp">Maximum Decomposition method</option>
            <option value="min_decomp">Minimum Decomposition method</option>
        </select>

        <label for="image" class="file_label">UPLOAD FILE</label>
        <input type="file" name="image" id="image" accept="image/*">

        <div id="previewHolder">
            <p id="selectionFeedback">No image selected</p>
        </div>
        <br>

        <input type="submit" value="SUBMIT">
    </form>

    <script src="{{ url_for('static', filename='js/imagePreview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/saveOption.js') }}"></script>
{% endblock %}
